
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hemangkumar.capacitorgooglemaps.capacitorgooglemaps">

    <application>
      <!-- Google maps metadata -->
      <meta-data
          android:name="com.google.android.geo.API_KEY"
          android:value="${mapsApiKey}"/>
    </application>
  </manifest>
  